.slogan {
  background-color: #fff;
  padding: 100px 0px;
}
.slogan__inner {
  border: 1px solid #cfcfcf;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  border-radius: 50px;
}
.slogan__title {
  margin-bottom: 30px;
  color: #181818;
  text-align: center;
}
.button-slogan {
  cursor: pointer;
  border: 1px solid transparent;
  background-color: #954ced;
  padding: 16px 30px;
  border-radius: 20px;
  transition: 0.3s;
  font-size: 20px;
}
.button-slogan:hover {
  border-color: #954ced;
  background-color: #181818;
  scale: 1.05;
}
@media (max-width: 750px) {
  .button-slogan {
    width: 100%;
  }
}
