.statistic {
  padding: 40px 0;
  background-color: #954ced;
  margin-bottom: 100px;
}
.statistic__inner {
  display: flex;
  justify-content: center;
  gap: 100px;
}
.statistic__block {
  max-width: 188px;
}
.statistic__block h2 {
  font-size: 64px;
}
.statistic__block p {
  font-size: 24px;
  line-height: 29px;
}
